/* === CSS RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === CSS VARIABLES === */
:root {
  /* Colors */
  --color-primary:lightgray;
  --color-secondary: limegreen;
  --color-background: black;
  --color-surface: #000B58;
  --color-text-primary: white ;
  --color-danger: #ef4444;


  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-4: 1rem;
  --spacing-8: 2rem;

  /* Border Radius */
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
}

/* === GLOBAL STYLES === */
body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
