.header h2{
    font-size: 1.5rem;
}
.content span{
    font-size: 1rem;
}
.confirm-btn{
    background-color: var(--color-primary);
    color: var(--color-surface);
    border: none;
    border-radius: var(--border-radius-md);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.cancel-btn{
    background-color: red;
    color: var(--color-surface);
    border: none;
    border-radius: var(--border-radius-md);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.confirm-btn:hover{
    background-color: #4338ca;
}
.cancel-btn:hover{
    background-color: #dc3545;
}
.actions button{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: var(--spacing-2);
    width: 40%;
    height: 100%;
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.actions button:hover{
    background-color: darkgray;
}
.modal{
    background-color: var(--color-surface);
    padding: var(--spacing-4);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}